#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #121212;
}

#bigBox{
  min-width: 900px;
  min-height: 700px;
  
  display: grid;
  grid-template-areas: 
  'one one'
  'two two'
  'three four'
  'five five';
  grid-template-columns: 300px 1fr;
  grid-template-rows:   60px 150px auto 100px;
  
}

.one{
  grid-area: one;
 
  border: 2px solid blue;
}

.two{
  grid-area: two;
 
 
}

.three{
  grid-area: three;
 
 
}
.four{
  grid-area: four;
 
  
}

.five{
  grid-area: five;
 
  
}

.border{
  border: 1px solid white;
}

.title{
  text-align: center;
  color: green;
  margin: 0px;
  padding: 0px;
  text-shadow: 2px 2px 2px rgb(164, 164, 226);
}

.name{
  border: 1px slid green;
  display: flex;
  align-items: center;
}